@import url('https://fonts.googleapis.com/css?family=Headland+One|Source+Sans+Pro&display=swap');

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

html {
  font-size: 62.5%;
}

body {
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Source Sans Pro', sans-serif;
  color: #27292C;
  background: linear-gradient(175deg, #B69179 0%, #877172 45%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

body.dark {
  color: #B69179;
  background: linear-gradient(175deg, #462F6B 0%, #27292C 45%);
}

h1 {
  font-family: 'Headland One', serif;
  font-size: 4.4rem;
}

h1 > span {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 3.6rem;
  display: block;
}

h2 {
  font-family: 'Headland One', serif;
  font-size: 2.8rem;
}

h3 {
  font-family: 'Headland One', serif;
  font-size: 2.2rem;
}

p {
  text-align: justify;
}

.AboveTheFold img {
  max-width: 100%;
}

form {
  padding: 20px;
}